{% extends "index.html" %}
{% block content %}
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>
<div id="content">
<h5>
Cet outil a été développé par Peter Pfleiderer (peter.pfleidererATclimateanalytics.org),
Quentin Lejeune (quentin.lejeuneATclimateanalytics.org) et Delphine Deryng (delphine.deryngATclimateanalytics.org).<br><br>

Les niveaux de réchauffement global sont extraits du <a href="http://wlcalc.climateanalytics.org">Calculateur d'attribution de réchauffement</a>.
Le masquage régional est basé sur des scripts développés par Mario Krapp.<br><br>

Nous remercions le projet d'intercomparaison inter-sectorielle des modèles d'impacts (en anglais, ISIMIP, www.isimip.org),
ainsi que le projet d'intercomparaison et d'amélioration des modèles d'agriculture (AgMIP, www.agmip.org)
pour avoir co-développé le protocole de modélisation et lancé l'effort d'intercomparaison des modèles pour le secteur de l'agriculture.
Nous remercions également les groupes de modélisation sur maille des cultures participant à ces projets
(ceux-ci sont listés dans <a href='http://regioclim.climateanalytics.org/documentation#doc_ensemble'>cette documentation</a>),
pour avoir produit et rendu disponible leurs résultats.<br><br>

Les travaux qui ont conduit au développement de cet outil ont bénéficié d'un financement du Ministère fédéral allemand de l'Environnement,
dans le cadre de son Initiative Internationale pour le Climat (en allemand IKI).
</h5>
{% endblock %}
