{% extends "index.html" %}
{% block content %}
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>
<div id="content">


<!-- This is the left gray column -->
<div id="LeftPanel" style="width: 20%; padding-left: 2%; padding-right: 2%; height: 100%; float: left; background: rgba(170,170,170,0.5);">
  <!-- country choice -->
  <form method="POST" action="/country_choice" id="country_id">
    <h3>Country</h3>
    {{ form_country.countrys(onchange='change_something("country_id");') }}
  </form>

  <!-- indicator choice  -->
  <form method="POST" action="/indicator_choice" id="indicator_id">
    <h3>Climate Indicator <a href="documentation#doc_indicators"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
    {% if small_region_warning==True %}
      <p class=warn_txt><b>Warning: </b>{{ reduced_inidicator_set_txt }}</p>
    {% endif %}
    {{ form_indicator.indicators(onchange='change_something("indicator_id");') }}
    <a class="label label-primary" href="/prepare_for_download/get_data**bla" target="_blank"  style="margin-right: 5px;">{{download_data }}</a>
  </form>

  <!-- warming level choice  -->
  <form method="POST" action="/warming_lvl_choice" id="warming_lvl_id">
    <h3>Country</h3>
    {{ form_warming_lvl.warming_lvls(onchange='change_something("warming_lvl_id");') }}
  </form>
</div>


<!-- right part of the website -->
<div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%;">
  <h3>Regional climate model projections vizualized for the country scale </h3>
  <p>Click on <a class="label label-primary" tyle="margin-right: 5px;">png</a> or <a class="label label-primary" tyle="margin-right: 5px;">pdf</a> to download high resolution graphics.
  <!-- left top plot -->
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if EWEMBI_plot!='no_plot' %}
      <figure>
        <IMG SRC={{ noirr_map }} ALT=' ' WIDTH=100%></IMG>
      </figure>
    {% endif %}
  </div>
  <!-- right top plot -->
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if Projection_plot!='no_plot' %}
      <figure>

        <IMG SRC={{ firr_map }} ALT=' ' WIDTH=100%></IMG>
      </figure>
    {% endif %}
  </div>
</div>

<div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%;">
  <!-- left bottom plot -->
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if transient_plot!='no_plot' %}
      <figure>
        <IMG SRC={{ boxplot }} ALT=' ' WIDTH=100%></IMG>
      </figure>
    {% endif %}
  </div>

</div>


</div>




{% endblock %}
