{% extends "index.html" %}
{% block content %}
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>
<div id="content">


<!-- This is the gray bar -->
<div id="LeftPanel" style="width: 100%; padding-left: 2%; padding-right: 2%; height: 100%; float: left; background: rgba(170,170,170,0.5);">
  <h2>Crop Yield Impact Projections </h2>
  <p>These projections are computed from the <a href="https://www.isimip.org/protocol/#isimip-fast-track" target="_blank">ISIMIP Fast-Track archive</a>
    based on six global gridded crop models driven by five global climate models from <a href="https://cmip.llnl.gov/cmip5/" target="_blank">CMIP5</a>
    following RCP8.5. The map on the right end-side shows the relative increase in yield if additional irrigation is applied on present day harvested areas, assuming irrigation water is not limiting.</p>
  <p>Click on <a class="label label-primary" tyle="margin-right: 5px;">pdf</a> to download high-resolution graphics.</p>

  <!-- country choice -->
  <div id="LeftPanel" style="width: 30%; height: 100%; float: left; padding-left: 2%;">
  <form method="POST" action="/country_choice" id="country_id">
    <h3>Select a Country</h3>
    {{ form_country.countrys(onchange='change_something("country_id");') }}
    <br>
  </form>
  </div>

  <!-- indicator choice  -->
  <div id="LeftPanel" style="width: 30%; height: 100%; float: left; padding-left: 2%;">
  <form method="POST" action="/indicator_choice" id="indicator_id">
    <h3>Select a Crop </h3>
    {% if small_region_warning==True %}
      <p class=warn_txt><b>Warning: </b>{{ reduced_inidicator_set_txt }}</p>
    {% endif %}
    {{ form_indicator.indicators(onchange='change_something("indicator_id");') }}
  </form>
  </div>

  <!-- warming level choice  -->
  <div id="LeftPanel" style="width: 30%; height: 100%; float: left; padding-left: 2%;">
  <form method="POST" action="/warming_lvl_choice" id="warming_lvl_id">
    <h3>Select a Warming Level (above preindustrial)</h3>
    {{ form_warming_lvl.warming_lvls(onchange='change_something("warming_lvl_id");') }}
  </form>
  </div>

</div>

<!-- bottom part of the website -->
<!-- check if the id is right here!!! -->
<div id="LeftPanel" style="width: 100%; float: left;">

  <!-- left top plot -->
  <div id="LeftPanel" style="width: 275pt; float: left;">
      <figure>
        <IMG SRC={{ hist_map }} ALT='{{ hist_map }}' WIDTH=100%></IMG>
      </figure>
      <a class="label label-primary" href={{"/download_plot/"+hist_map.split('/')[-1]}} target="_blank"  style="margin-right: 5px;">pdf</a>
      <p style="width: 230pt; text-align:justify;"><strong>Simulated crop yield (t/ha/yr) circa year 2000</strong> (+0.61°C above preindustrial).
        Data are shown for combined present-day irrigated and rainfed harvested areas.</p>
  </div>

  <!-- middle top plot -->
  <div id="LeftPanel" style="width: 275pt; float: left; ">
      <figure>
        <IMG SRC={{ proj_map }} ALT={{ proj_map }} WIDTH=100%></IMG>
      </figure>
      <a class="label label-primary" href={{"/download_plot/"+proj_map.split('/')[-1]}} target="_blank"  style="margin-right: 5px;">pdf</a>
      <p style="width: 230pt; text-align:justify;"><strong>Projected change in yield (%) relative to 2000</strong> (multi-model ensemble median).
        Yellow areas show small level of impacts (range [-5;5%]).
        For larger level of impacts, grid cells where the models do not agree in the sign of change are shown in grey.</p>
  </div>

  <!-- right top plot -->
  <div id="LeftPanel" style="width: 275pt; float: left; ">
      <figure>
        <IMG SRC={{ irr_added_value_map }} ALT={{ irr_added_value_map }} WIDTH=100%></IMG>
      </figure>
      <a class="label label-primary" href={{"/download_plot/"+irr_added_value_map.split('/')[-1]}} target="_blank"  style="margin-right: 5px;">pdf</a>
      <p style="width: 230pt; text-align:justify;"><strong>Relative increase in yield (%) if irrigation is applied on present day rainfed harvested areas</strong>,
      assuming no water limitation (note this does not account for actual irrigated water availability).</p>
  </div>
</div>

<!-- table at the bottom -->
<div id="LeftPanel" style="width: 100%; height: 100%; float: left; padding-left: 2%; padding-top: 40pt;">
  <table class="table">
    <tbody>
      <tr>
        <th>Crop </th> <th>Harvested area (ha) circa 2000</th> <th colspan="5"><div align="center">Change in national average yield (%) relative to year 2000 </div></th>
      </tr>
      <tr>
        <td>  </td> <td> </td> <td style="text-align:center;">+1.0°C</td> <td style="text-align:center;">+1.5°C</td> <td style="text-align:center;">+2°C</td> <td style="text-align:center;">+2.5°C</td> <td style="text-align:center;">+3.0°C</td>
      </tr>
      {% for crop in crops %}
        <tr>
          <td style="text-align:center;">{{crop}}</td>
          <td style="text-align:center;">{{ result_snippet.loc[(result_snippet['Warming']=='1p5')].loc[(result_snippet['Crop']== crop)].iloc[0,3]}}</td>
          {% for wlvl in ['1p0','1p5','2p0','2p5','3p0'] %}
            <td style="text-align:center;">{{ result_snippet.loc[(result_snippet['Warming']== wlvl)].loc[(result_snippet['Crop']== crop)].iloc[0,9] }}
              [{{ result_snippet.loc[(result_snippet['Warming']== wlvl)].loc[(result_snippet['Crop']== crop)].iloc[0,8] }} to {{ result_snippet.loc[(result_snippet['Warming']== wlvl)].loc[(result_snippet['Crop']== crop)].iloc[0,11] }}]
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="label label-primary" href="/download_data" target="_blank"  style="margin-right: 5px;">Download table</a>
  <p><strong>Projected changes in yields (%) relative to 2000</strong> (multi-model ensemble median) for each crop grown in the country at different waming levels.
    Total national harvested areas areas (circa 2000) are given in ha. Numbers in brackets represent the first and third quartiles.</p>
</div>

<div id="LeftPanel" style="width: 100%; height: 10pt; float: left; padding-left: 2%; padding-top: 10pt; background: rgba(170,170,170,0.8);">
</div>

<!-- additional table at the bottom -->
<div id="LeftPanel" style="width: 100%; height: 100%; float: left; padding-left: 2%; padding-top: 1%; padding-right: 2%; padding-bottom: 2%;">
    <div id="LeftPanel" style="width: 40%; height: 100%; float: center; padding: 1%;  background: rgba(170,100,100,0.3); margin:0 auto;">
      <h3 style="color: darkred;">Only two crop models contributed to the results of the following table.<br> These results are less robust than what is presented above!</h3>
    </div>
  <table class="table">
    <tbody>
      <tr>
        <th>Crop </th> <th>Harvested area (ha) circa 2000</th> <th colspan="5"><div align="center">Change in national average yield (%) relative to year 2000 </div></th>
      </tr>
      <tr>
        <td>  </td> <td> </td> <td style="text-align:center;">+1.0°C</td> <td style="text-align:center;">+1.5°C</td> <td style="text-align:center;">+2°C</td> <td style="text-align:center;">+2.5°C</td> <td style="text-align:center;">+3.0°C</td>
      </tr>
      {% for crop in crops_other %}
        <tr>
          <td style="text-align:center;">{{crop}}</td>
          <td style="text-align:center;">{{ result_snippet_other.loc[(result_snippet_other['Warming']=='1p5')].loc[(result_snippet_other['Crop']== crop)].iloc[0,3]}}</td>
          {% for wlvl in ['1p0','1p5','2p0','2p5','3p0'] %}
            <td style="text-align:center;">{{ result_snippet_other.loc[(result_snippet_other['Warming']== wlvl)].loc[(result_snippet_other['Crop']== crop)].iloc[0,9] }}
              [{{ result_snippet_other.loc[(result_snippet_other['Warming']== wlvl)].loc[(result_snippet_other['Crop']== crop)].iloc[0,8] }} to {{ result_snippet_other.loc[(result_snippet_other['Warming']== wlvl)].loc[(result_snippet_other['Crop']== crop)].iloc[0,11] }}]
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="label label-primary" href="/download_data_other" target="_blank"  style="margin-right: 5px;">Download table</a>
  <p><strong>Projected changes in yields (%) relative to 2000</strong> (multi-model ensemble median) for each crop grown in the country at different waming levels.
    Total national harvested areas areas (circa 2000) are given in ha. Numbers in brackets represent the first and third quartiles.</p>
</div>

</div>


</div>


{% endblock %}
